.App {
    width: 80%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 6rem auto 0 auto ;
}

h2 {
    margin-bottom: 2rem;
}

.inputs {
    margin-bottom: 2rem;
}

input {
    padding: 0.5rem 1rem ;
    width: 350px;
    margin-right:1rem;
}
select{
    padding: 0.5rem 1rem;
    width: 250px
}

input:active,
input:focus,
select:active,
select:focus {
    outline-color: #ffb955;
}

table {
    width: 100%;
    border-spacing: 0px;
}

table th {
    background: #ffb955;
    padding: 0.5rem;
}

table td {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

